body
{
	font-family: arial;
	background-color: #001929;
	padding: 20px;
}

#left
{
	background-color: #DD3322;
	padding: 20px;
	width: 300px;
	margin-right: 10px;
	float: left;
}

#center
{
	background-color: #DD3322;
	padding: 20px;
	width: 300px;
	margin-right: 10px;
}
a
{
	color: #FFFFFF;
	line-height: 150%;
}

h2
{
	color:#AAFFFF;
}
h3
{
	color:#AAFFFF;
}

img
{
	margin-left: 4px;
}

p
{
	color: #FFFFFF;
}